body {
    margin: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: url("../imgs/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gameScreen{
    width: 100vw;
    height: 100vh;
    background: url("../imgs/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.entry{
    padding-top: 15%;
    font-size: 2em;
    text-align: center;
    color: #0cf6ff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sw_icon{
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: all 10s ease-in-out;
}

.scale{
    transform: scale(.10);
    opacity: 0.0;
}

.skip{
    display: block;
    position: fixed;
    bottom: 2%;
    right: 80%; /* Avoid mute */
    padding: .50% 2.5%;
    color: #000000;
    background: #f8bb00;
    border-radius: 2em;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    animation: play 4s linear infinite;
    cursor: pointer;
}

@keyframes play {
    50% {opacity: 0;}
}

#container{
    margin: auto;
    width: 100%;
}

#gameArea {
    width: 600px;
    height: 650px;
    border: solid goldenrod 3px;
    border-radius: 5%;
    padding: 10px;
    margin: auto; /* Center's gameArea */
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: goldenrod;
}

h3 {
    font-size: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: goldenrod;
}

th {
    font-size: 32px;
    color: lightgray;
}

td {
    font-size: 24px;
}

p {
    font-size: 32px;
}

input {
    font-size: 24px;
}

input[type=text] {
    color: lightgray;
    border: 2px solid goldenrod;
    border-radius: 15px;
    background-color: transparent;
    text-align: center;
}



/* Leaderboard */
#leaderboardTable {
    margin: 0 auto 20px auto;
    text-align: center;
    border: 0;
    width: 200px;
}

#nameInput {
    width: 200px;
}

#messageInput {
    width: 68%;
}

#highestScore {
    margin-top: 20px;
}


/* The Modal (background) */
.modal {
    font-family: 'Orbitron', sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    width: 600px;
    text-align: center;
    margin: 5px;
    top: 90px;
}

/* Modal Content/Box */
.modal-content {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    margin: 15% 45px; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid goldenrod;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    color: goldenrod;
    text-align: center;
}

.modal-content h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: goldenrod;
    text-decoration: none;
    cursor: pointer;
}