/**
 * JS code to run Stripe's checkout
 */
var handler = StripeCheckout.configure({
  key: TEST_API,
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
  }
});
